@font-face {
    font-family: 'Oregano';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url('./oregano-v8-latin-regular.woff2') format("woff2"),
    url('./oregano-v8-latin-regular.woff') format("woff")   
  }
  @font-face {
    font-family: 'Quattrocento';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url('./quattrocento-v12-latin-regular.woff2') format("woff2"),
    url('./quattrocento-v12-latin-regular.woff') format("woff")   
  }