.footer__title{
    margin:0px;
    max-width: 255px;
font-family: 'Quattrocento',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
color: #191B1E;
text-align: left;


}