.popup__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding:28px;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
}