.menu__list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 45px;
    min-width: 271px;

}
@media screen and (max-width:800px) {
    .menu__list{
        min-width: 200px;
    }
    
}
@media screen and (max-width:670px) {
    .menu__list{
        flex-direction: column;
        margin-top: 0px;
        text-align: center;
        min-width: 100%;
       
    }
    
 }