.partners__subtitle{
max-width: 723px;
font-family: Quattrocento;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
text-align: center;
color: #191B1E;
margin:53px 0 0 0;


}