.cards__title{
    font-family: 'Oregano', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 64px;
    color: #000000;
    margin: 213px 0px 0px 0px ;
    
    
    }