.header__button-link{
    color: white;
    text-decoration: none;
    
 margin-top:94px;
        background: #DD3E42;
        border-radius: 8px;
        font-family: 'Quattrocento', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        color: #FFFFFF;
        height: 42px;
        border-style: none;
        max-width: 349px;
        margin-left: auto;
        margin-right: auto;
        min-width: 349px;
        cursor: pointer;
        transition: background-color .3s linear;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}
        .header__button-link:hover{
            background-color: #F97773;
        }
        .header__button-link:active{
           background-color:#C23E42;
        }