.header__subtitle{
 text-align: center;   
font-family: 'Quattrocento', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;
color: #191B1E;
margin-top:45px;
margin-bottom: 0px;
}
@media screen and (max-width:800px) {
    .header__subtitle{
        font-size: 17px;
        line-height: 28px;
        margin-top: 30px;
    }
    
}