.header__content-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 270px;
    justify-content: center;
}
@media screen and (max-width:800px) {
    .header__content-wrapper{
        margin-top: 190px;
    }
    
}
@media screen and (max-width:670px) {
    .header__content-wrapper{
        flex-direction: column-reverse;
        margin-top: 90px;
    }
    
}