.header__title {
	text-align: center;
	font-family: 'Oregano', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 64px;
	color: #191b1e;
	margin-bottom: 0px;
}
@media screen and (max-width:800px) {
    .header__title{
        font-size: 35px;
        line-height: 40px;
    }
    
}