.popup__title{ 
font-family: 'Oregano', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 64px;
text-align: center;
color: #191B1E;
margin-top:0px;
margin-bottom: 0px;


}